$primaryColor: #2f4050;
$primaryDarkColor: #0e2031;
$primaryLightColor: #5b6976;
$accentColor: #1ab394;
$accentDarkColor: #197865;
$accentLightColor: #6be7ce;
$accentTextColor: #ffffff;
$darkMenuBgColor: #0e2031;
$darkMenuHoverColor: #5b6976;

@import '../../../WEB-INF/templates/sass/layout/layout';