body {
    .ui-widget,
    .ui-widget .ui-widget {
        font-family: "Roboto","Helvetica Neue",sans-serif;
        text-decoration: none;
    }

    .ui-widget-content {
        background-color: $contentBgColor;
        font-size: $contentFontSize;
        border: 1px solid $dividerColor;

        .ui-icon {
            color: $contentIconColor;
        }
    }

    .ui-widget-header {
        background-color: $headerBgColor;
        color: $headerTextColor;
        font-size: $headerFontSize;
        border: 1px solid $primaryColor;

        .ui-icon {
            color: $headerIconColor;
        }
    }

    .ui-state-default {

    }

    .ui-state-hover {

    }

    .ui-state-focus {

    }

    .ui-state-active, .ui-state-highlight {
        background-color: $accentColor;
        color: $accentTextColor;

        .ui-icon {
            color: $accentTextColor;
        }
    }

    .ui-state-disabled {
        opacity: .35;
        filter: Alpha(Opacity=35);
        background-image: none;
    }

    .ui-corner-all {
        @include border-radius(3px);
    }

    .ui-corner-top {
        @include border-radius-top(3px);
    }

    .ui-corner-bottom {
        @include border-radius-bottom(3px);
    }

    .ui-corner-left {
        @include border-radius-left(3px);
    }

    .ui-corner-right {
        @include border-radius-right(3px);
    }

    .ui-widget-overlay {
        background-color: $overlayBgColor;
        opacity: .8;
    }

    .ui-shadow {

    }
    
    .ui-icon {
      font-family: 'Material Icons', fantasy;
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        text-indent: 0;
        overflow: visible;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
    }

    .fa {
      font-family: 'FontAwesome', fantasy;
    }
}