// extra
$focusedLabelTextSize: 16px;

// general
$textColor: #212121;
$textSecondaryColor: #757575;  
$textboxBgColor:#e7e9f6;
$fontSize: 16px;
$lineHeight: 24px;
$iconFontSize: 20px;
$inputOptionTopPadding: 10px;
$inputOptionBottomPadding: 10px;
$inputOptionLeftPadding: 14px;
$inputOptionRightPadding: 14px;
$hoverBgColor: #e8e8e8;
$hoverTextColor: #000000;
$dividerColor: #6877ca;

/* Compact */
$c-fontSize: 14px;
$c-lineHeight: 18px;
$c-headerFontSize: 14px;
$c-headerPadding: 8px 14px;
$c-contentFontSize: 14px;
$c-contentPadding: 8px 14px;
$c-iconFontSize: 20px;
$c-buttonFontSize: 14px;
$c-inputFontSize: 14px;
$c-inputHeaderFontSize: 14px;
$c-inputHeaderPadding: 6px 10px;
$c-inputOptionFontSize: 14px;
$c-inputOptionPadding: 6px 10px;
$c-dtPadding: 6px 10px;
$c-errorMessageFontSize: 11px;
$c-errorMessageIconFontSize: 13px;

$blueGrey:#607D8B;
$blueGreyHover:#37474F;
$cyan:#00BCD4;
$cyanHover:#00838F;
$teal:#009688;
$tealHover:#00695C;
$red:#F44336;
$redHover:#C62828;
$green:#4CAF50;
$greenHover:#2E7D32;
$deepOrange:#FF5722;
$deepOrangeHover:#D84315;
$purple:#673AB7;
$purpleHover:#4527A0;
$pink:#E91E63;
$pinkHover:#AD1457;
$amber:#FFC107;
$amberHover:#FF8F00;
$orange:#FF9800;
$orangeHover:#EF6C00;
$brown:#795548;
$brownHover:#4E342E;
$grayBgColor:#757575;