$primaryColor: #3F51B5;
$primaryDarkColor: #283593;
$primaryLightColor: #9fa8da;
$accentColor: #E91E63;
$accentDarkColor: #ad1457;
$accentLightColor: #f48fb1;
$accentTextColor: #ffffff;


@import '../../WEB-INF/templates/sass/theme/theme';